/* CSS cho thông báo đẹp hơn cho Đăng nhập thành công*/
.login-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Animation để ẩn thông báo sau 3 giây */
  @keyframes hideMessage {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }